<!-- Will be a page for editing the config file via gui basically -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HexFolio Settings</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link id="theme-style" rel="stylesheet" href="../static/themes/{{ theme }}.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- I will find a better way of doing this later lol -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbar">
        <div class="nav-left">
            <span class="logo">Settings</span>
        </div>
        
        <div class="nav-right">
            <a href="/" class="nav-link tooltip"><i class="fa-solid fa-chart-line"></i><span class="tooltiptext">Dashboard</span></a>
            <a href="/holdings" class="nav-link tooltip"><i class="fa-solid fa-chart-pie"></i><span class="tooltiptext">Holdings</span></a>
            <a href="/settings" class="nav-link tooltip"><i class="fa-solid fa-sliders"></i><span class="tooltiptext">Settings</span></a>
        </div>
    </header>
    
    <div class="main">
        
        <!-- Theme swapper -->
        <label for="theme-select">Theme:</label>
        <select id="theme-select"></select>

        <!-- General Settings -->


        <!-- Danger zone -->
        <div class="danger-zone">
            <button class="delDB">Clear Historical Data</button>
            <button class="delDB">Reset All Settings</button>
        </div>
    </div>
    <script src="../static/js/settings.js"></script>
    <!-- <script src="../static/js/theme_switcher.js" defer></script> -->
</body>
</html>